https://www.kaggle.com/code/akshaysehgal/ultimate-guide-to-pandas-groupby-aggregate

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from pathlib import Path

In [ ]:
path = Path("../../csv/")

In [ ]:
titanic = pd.read_csv(path /"titanic_data.csv").dropna()
titanic

In [ ]:
titanic.head()

What is the total number of passengers from each class who survived?

In [ ]:
survived_people_from_each_class= titanic.groupby(['class']).agg({
    'survived':'sum'
}).reset_index()
survived_people_from_each_class

Question: What was the average fare for passengers from each town?

In [ ]:
avg_fare_from_each_town = titanic.groupby(['embark_town']).agg(
    {
        'fare':'mean'
    }
).reset_index()
avg_fare_from_each_town

What was the average fare for male vs female passengers from each town?

In [ ]:
avg_fare_from_each_town_male_and_female = titanic.groupby(['embark_town','sex']).agg(
    {
        'fare':'mean'
    }
).reset_index()
avg_fare_from_each_town_male_and_female

What was the average fare and age for male vs female passengers from each town?

In [ ]:
avg_fare_from_each_town_with_age_fare_foreach_sex = titanic.groupby(['embark_town','sex']).agg(
    {
        'fare':'mean',
        'age':'mean'
    }
).reset_index()
avg_fare_from_each_town_with_age_fare_foreach_sex

Grouping

In [ ]:
#  grouper object
grouper = titanic.groupby(['embark_town'])

#Print dtype for each of the elements in the grouper
[(type(k),type(g)) for k,g in grouper]

In [ ]:
[(k,g.shape) for k,g in grouper]

In [ ]:
# FULL DATA OBJECT LIKE (KEY,DATAFRAME)
list(grouper)[1]

In [ ]:
#  index
list(grouper)[1][1]

In [ ]:
#  data
list(grouper)[1][1]

grouper object looks like for multiple grouping

In [ ]:
grouper = titanic.groupby(['embark_town','sex'])

In [ ]:
# choose 2 bcz it has smallest data
list(grouper)[2] #this is for female

In [ ]:
# choose 2 bcz it has smallest data
list(grouper)[3] #this is for male

In [ ]:
#  full data
# k is index and g is dataframe
[(k,g.shape) for k,g in grouper]

 remember the index is created after you have created aggregation

In [ ]:
titanic.groupby(['embark_town','sex'])['age'].mean().reset_index()

apply set on multiple column

In [ ]:
titanic.groupby(['embark_town', 'who'])['age'].apply(set).reset_index()

Question: Get the range (min - max) of ages for each age category (who column) from each town.

to apply muliplt agg method on the same column use this -  'age':['min','max']

In [ ]:
titanic.groupby(['embark_town','who']).agg(
    min_age = ('age','min'),
    max_age = ('age','max'),
    age_diff = ('age',lambda x:x.max()-x.min())
).reset_index()

Question: Get the mean fare by age ratio for each age category (who column) from each town.

In [ ]:
titanic.groupby(['embark_town','who']).agg(
    fare_ratio_by_age_ratio = (lambda x: x['fare']/x['age']),
    fare_mean = ('fare','mean')
).reset_index()

In [ ]:
titanic.groupby('who')['fare'].transform(lambda x: x.mean())